* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header {
  background-color: #333;
  /*flex*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  border-bottom: 1vh solid #4caf5c;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: lobster;

  padding: 1.25rem 2.5rem;
  background-color: #4caf5c;
  border-radius: 500px;
  /*animations*/
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
}

a:hover {
  color: #333;
  background-color: indianred;
}

main {
  min-height: 85vh;
  background-color: goldenrod;
}

footer {
  border-top: 0.5vh solid #4caf5c;
  height: 4.5vh;
  background-color: #333;
  display: block;
}

footer p {
  text-align: center;
  line-height: 2.2vh;
  color: snow;
  font-family: roboto;
}

/*main content*/

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  min-width: 40vw;
  height: 40vh;
  max-width: 80vw;
  margin: 2vh 2vw;

  overflow: hidden;
  border-bottom: 5px solid indianred;
  background-color: #555;

  color: indianred;
  padding: 1vh 1vw;
  border-radius: 1rem 1rem;
  text-align: center;
  font-family: lobster;
  font-size: 1.3rem;

  opacity: 0;
}

.article hr {
  margin: 1rem 0 0.25rem 0;
}

.article img {
  max-width: 100%;
  max-height: 100%;
}

.article p {
  color: snow;
  font-family: roboto;
  text-align: left;
  max-width: 40vw;
}

/*page1*/

.pone,
.ptwo,
.pthree {
  background-color: lavender;
}
.pone p,
.ptwo p,
.pthree p {
  color: #333;
}
